body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f5f5f5;
  background-image: url(./image\ copy.png);
}

/* Header */
header {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background-image: url(./image.png);
}
.ADXRXN_tKaHBsSBu24zEVE_X{
  overflow:visible;
  position: fixed;
}
.logo {
  font-size: 24px;
  font-weight: bold;
  color: red;
}

header input {
  flex: 1;
  margin: 0 20px;
  padding: 8px;
  border-radius: 20px;
  border: 1px solid #ccc;
}

.nav a {
  margin-left: 15px;
  text-decoration: none;
  color: black;
}

/* Grid */
.container {
  column-count: 4;
  column-gap: 15px;
  padding: 20px;
}

.card {
  break-inside: avoid;
  margin-bottom: 15px;
}

.card img {
  width: 100%;
  border-radius: 15px;
}


.social-links a {
    text-decoration: none;
    color: #e60023; /* Pinterest red */
    margin: 0 10px;
    font-size: 14px;
}
footer {
    background-color: #f5f5f5;
    text-align: center;
    padding: 20px;
    border-top: 1px solid #ddd;
}

.footer p {
    color: #555;
    margin-bottom: 10px;
    font-size: 14px;
}

